@model ModelLayer.ResultDTO
@{
    ViewBag.Title = "Home Page";
}
@if (Model.Success)
{
    <h1 class="text-center">Bienvenidos a la tienda de Libros</h1>
    <div class="my-2 row">
        <div class="col-12">
            <div class="table-responsive table-responsive-lg">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ISBN</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Numero de Paginas</th>
                            <th scope="col">Fecha de publicacion</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Editorial</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (object item in Model.Objects)
                        {
                            var result = item as ModelLayer.Libro;
                            <tr>
                                <td class="bg-white">@result.ISN</td>
                                <td class="bg-white">@result.Titulo</td>
                                <td class="bg-white">@result.Total_Paginas</td>
                                <td class="bg-white">@result.Fecha_Publicacion</td>
                                <td class="bg-white">@result.Autor.Nombre</td>
                                <td class="bg-white">@result.Editorial.Nombre</td>
                                <td class="bg-white">
                                    <div class="d-flex justify-content-center align-items-center gap-2 flex-wrap">
                                        <button class="col btn btn-info">Editar</button>
                                        <button class="col btn btn-danger">Actualizar</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
}
